.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*  */
/* ---------- Customize ---------- */

.container {
  padding-top: 4rem;
}

.staff-img {
  overflow: hidden;
}

/* ---------- Navbar ---------- */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.staff-img img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

/* ---------- Breadcrumb ---------- */
#breadcrumb-search-section {
  border-radius: 0;
}

#breadcrumb h3 {
  font-size: 200%;
}

#breadcrumb {
  padding-top: 7px;
}

.breadcrumb {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

#add-btn,
#modify-btn {
  width: 100%;
}

#staff-search-btn {
  width: 100%;
}

#mySelect {
  margin-top: 10px;
}

#sort {
  text-align: left;
  padding: 8px;
  margin-bottom: 16px;
  border-bottom: 1px solid #ccc;
}

#sort button {
  margin-right: 5px;
  background-color: #f2f4f6;
  border: 1px solid #e5e7eb;
  color: #444;
}
/* ---------- Modal ---------- */
[id*="old-"] {
  background-color: #eee;
}

/* ---------- Footer ---------- */
#footer .jumbotron {
  text-align: left;
  padding: 20px 50px 20px 50px;
  margin: 32px 0 0 0;
}

@media only screen and (min-width: 768px) {
  #breadcrumb-search-section {
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
  }

  #add-btn,
  #modify-btn {
    width: 58px;
  }

  .left-align {
    text-align: left;
  }
}

@media only screen and (min-width: 992px) {
  #add-btn,
  #modify-btn {
    width: 90px;
  }
}

@media only screen and (min-width: 1200px) {
  #add-btn,
  #modify-btn {
    width: 105px;
  }
}
